<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form action="/cliente/saveCliente" method="POST">
        <input type="hidden" name="id" />
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="sobrenome">Sobrenome:</label><br>
        <input type="text" id="sobrenome" name="sobrenome"><br>
        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco"><br>
        <label for="bairro">Bairro:</label><br>
        <input type="text" id="bairro" name="bairro"><br>
        <label for="telefone">Telefone:</label><br>
        <input type="text" id="telefone" name="telefone"><br>
        <label for="password">Senha:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Cadastrar">
    </form> 
</body>
</html>
