	<!DOCTYPE html>
<html>
<head>
    <title>Editar Entrega</title>
</head>
<body>
    <h1>Editar Entrega</h1>
    <form action="/entrega/atualizar" method="POST">
        <input type="hidden" th:field="*{id}">
        <label for="rua">Rua:</label><br>
        <input type="text" id="rua" name="rua" th:field="*{rua}"><br>
        <label for="numero">Número:</label><br>
        <input type="text" id="numero" name="numero" th:field="*{numero}"><br>
        <label for="bairro">Bairro:</label><br>
        <input type="text" id="bairro" name="bairro" th:field="*{bairro}"><br>
        <label for="cidade">Cidade:</label><br>
        <input type="text" id="cidade" name="cidade" th:field="*{cidade}"><br>
        <label for="estado">Estado:</label><br>
        <input type="text" id="estado" name="estado" th:field="*{estado}"><br>
        <label for="cep">CEP:</label><br>
        <input type="text" id="cep" name="cep" th:field="*{cep}"><br>
        <label for="statusEntrega">Status da Entrega:</label><br>
        <input type="text" id="statusEntrega" name="statusEntrega" th:field="*{statusEntrega}"><br>
        <label for="formaPagamento">Forma de Pagamento:</label><br>
        <input type="text" id="formaPagamento" name="formaPagamento" th:field="*{formaPagamento}"><br><br>
        <input type="submit" value="Atualizar">
    </form> 
</body>
</html>
