<!DOCTYPE html>
<html>

<head>
	<title>Cadastro de Funcionário</title>
</head>

<body>
	<h1>Cadastro de Funcionário</h1>
	<form action="/funcionario/saveFuncionario" method="POST">
		<input type="hidden" name="id" />
		<p>Nome: <input type="text" th:field="*{nome}" /></p>
		<p>Sobrenome: <input type="text" th:field="*{sobrenome}" /></p>
		<p>Cargo: <input type="text" th:field="*{cargo}" /></p>
		<p>Salário: <input type="text" th:field="*{salario}" /></p>
		<p>Email: <input type="email" th:field="*{email}" /></p>
		<p>Senha: <input type="password" th:field="*{password}" /></p>
		<input type="hidden" name="id" th:field="*{id}" />
		<input type="submit" value="Cadastrar">

	</form>
</body>

</html>