<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Pedido</title>
</head>

<body>
	<h2>Cadastro de Pedido</h2>
	<form action="/pedido/savePedido" method="post">
		<label for="dataDoPedido">Data do Pedido:</label>
		<input type="date" id="dataDoPedido" name="dataDoPedido" required><br><br>
		<script>
			const dataDoPedido = document.getElementById("dataDoPedido");
			dataDoPedido.value = new Date().toISOString().slice(0, 10);

			dataDoPedido.addEventListener('change', () => {
				const [year, month, day] = dataDoPedido.value.split('-');
				dataDoPedido.value = `${year}-${month}-${day}`;
			});

		</script>
		<label for="cliente">Cliente:</label>
		<select name="cliente.id">
			<option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}">
			</option>
		</select><br><br>

		<label for="funcionario">Funcionário:</label>
		<select name="funcionario.id">
			<option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}">
			</option>
		</select><br><br>




		<fieldset>
			<legend>Itens do Pedido:</legend>
			<div id="itensPedido">
				<div class="itemPedido">
					<fieldset>
						<label for="tamanho">Tamanho:</label>
						<select id="tamanho" name="tamanho">
							<option value="Maracanã">Maracanã</option>
							<option value="Grande">Grande</option>
							<option value="Média">Média</option>
							<option value="Pequena">Pequena</option>
						</select><br><br>
						<legend>Pizza:</legend>
						<div class="form-group">
							<label for="saborPizza">Sabor da Pizza:</label>
							<select class="form-control" id="saborPizza" name="saborPizza">
								<option th:each="sabor : ${saboresPizza}" th:value="${sabor}" th:text="${sabor}">
								</option>
							</select>
						</div>
						<table>
							<tr>
								<th>Quantidade</th>
								<th>Sabor</th>
								
							</tr>
							<tr th:each="item : ${pedido.itensPedido}">
								<td th:text="${item.quantidade_de_itens}"></td>
								<td th:text="${item.pizza.sabor}"></td>
								<td th:text="${item.pizza.tamanho}"></td>
							</tr>
						</table>
						
					</fieldset>

					<button type="button" onclick="removerItemPedido(this)">Remover Item</button><br>
				</div>
				
		</fieldset>

		<button type="button" onclick="adicionarItemPedido()">Adicionar Item</button><br>

		<button type="submit">Salvar Pedido</button>

	</form>


	<script>
		function adicionarItemPedido() {
			const itensPedido = document.getElementById("itensPedido");
			const novoItem = document.createElement("div");
			novoItem.className = "itemPedido";
			novoItem.innerHTML = `
        <fieldset>
            <legend>Pizza:</legend>
            <label for="tamanho">Tamanho:</label>
            <select name="tamanho">
                <option value="Maracanã">Maracanã</option>
                <option value="Grande">Grande</option>
                <option value="Média">Média</option>
                <option value="Pequena">Pequena</option>
            </select><br><br>
            <div class="form-group">
                <label for="saborPizza">Sabor da Pizza:</label>
                <select class="form-control" name="saborPizza">
                    <!-- The pizza flavors will be populated here by the controller -->
                </select>
            </div>

            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" value="1"><br>
        </fieldset>
        <button type="button" onclick="removerItemPedido(this)">Remover Item</button><br>
    `;
			itensPedido.appendChild(novoItem);

			// Get the pizza flavors from the server
			fetch('/pedido/getSaboresPizza')
				.then(response => response.json())
				.then(saboresPizza => {
					// Populate the select element with the pizza flavors
					const selectSaborPizza = novoItem.querySelector('select[name="saborPizza"]');
					for (const sabor of saboresPizza) {
						const option = document.createElement('option');
						option.value = sabor;
						option.textContent = sabor;
						selectSaborPizza.appendChild(option);
					}
				});
		}

		function removerItemPedido(button) {
			const itemPedido = button.parentElement;
			itemPedido.remove();
		}


	</script>
</body>

</html>